html {
  margin: 0 auto;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

/*** FLEX RULES ***/

.container {
  display: flex;
  width: 100%;
}


/* MAIN-BANNER */


            /* * BANNER * */

.main-banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 558px;
  flex-direction: column;
}

.top-main {
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom-main {
  height: 55%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  }


           /* * NAVIGATION BAR * */



.navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 960px;
  height: 54px;
  margin-top: 1rem;
  background-color: cadetblue;
  color: white;
  font-weight: lighter;
}

.logo ,
  .menu {
    display: flex;
    align-items: center;
    width: 45%;
  }

.logo img {
  height:1.5rem;
}

.menu {
  justify-content: flex-end;
}

.logo-txt {
  padding-left: 1rem;
}

.menu span {
  padding-left: 2rem;
}


             /* * SLOGAN * */

.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  width: 27rem;
  height: 6rem;
  margin-right: 11rem;
}


/** MIDDLE BANNER **/


.middle-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.exams ,
  .fittings ,
    .delivery {
      display: flex;
      flex-direction: column;
      width: 7rem;
      height: 8rem;
      text-align: center;
    }


.flex-box img {
  max-width: 100%;
  max-height: 100%;
}

.exams img {
  width: 3rem;
  height:3.5rem;
  padding-bottom: 2rem;
}

.fittings img ,
  .delivery img {
    width: 4rem;
    height: 2.4rem;
    padding-bottom: 3rem;
  }

.cage {
  display: flex;
  justify-content: center;
}

.text-cage {
  display: flex;
  flex-direction: column;
}


/* BOTTOM BANNER */


.bottom-banner {
  display: flex;
  justify-content: center;
  width: 100%;
  heigh: 14rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  height: 13rem;
}

.philosophy ,
 .appointments {
   display: flex;
   width: 40%;
   flex-direction: column;
 }

 .head-title {
   background: cadetblue;
   color: white;
   font-weight: bold;
   width: 65%;
   padding: 0.5rem 0 0.5rem 1.25rem;
 }

 .des-text {
   padding-top: 1rem;
   font-family: Helvetica;
 }


























/* COMBAK:  */
